html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  height: 100vh;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
}

/* --- reset --- */

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.button {
  width: 160px;
  height: 45px;
  left: 0;
  top: 0;
  border-radius: 14px;
  background-image: linear-gradient(
      180deg,
      #78e9bf 0%,
      #68bbcf 50.46%,
      #5990de 100%
    ),
    linear-gradient(30deg, #7aeebe 0%, #588cdf 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border: 6px solid transparent;
}

.input-box {
  width: 500px;
  height: 70px;
}

.input {
  width: 100%;
  height: 45px;
}

/* 비밀번호 확인란 */
